body
{
    margin-left: auto;
    margin-right: auto;
}

.logo
{
    font-weight: bold;
    font-size: 1.5em;
}

.text-right
{
    text-align: right;
}

.line
{
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: 700px) {
    .navbar-expand-lg-modified {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-lg-modified .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-lg-modified .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg-modified .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-lg-modified .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-lg-modified .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-lg-modified .navbar-toggler {
      display: none;
    }
  }

.width-80
{
    width: 80%;
}

.a-no-css, .a-no-css:hover
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}