.logo
{
    font-weight: bold;
    font-size: 1.5em;
}

.text-right
{
    text-align: right;
}

.line
{
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

@media (min-width: 700px) {
    .navbar-expand-lg-modified {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-lg-modified .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-lg-modified .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg-modified .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-lg-modified .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-lg-modified .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-lg-modified .navbar-toggler {
      display: none;
    }
  }

.width-80
{
    width: 80%;
}

.a-no-css, .a-no-css:hover
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container-fluid
{
    padding-left: 0;
    padding-right: 0;
}

main
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.h1
{
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 1em;
}

p
{
    text-align: justify;
}

.container
{
    margin: auto;
    max-width: 600px;
}

.container-search
{
    margin: auto;
    max-width: 800px;
}

.text-center
{
  text-align: center;
}

.property-name
{
  width: 50%;
  font-weight: bold;
}

pre
{
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
}

.ad
{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.ad-name
{
  font-size: 2em;
  margin-top: -5px;
}

.left-right
{
  display: flex;
  justify-content: space-between;
}

.szczegoly-btn
{
  padding: 0rem 0.3rem;
  font-size: 0.8rem;
}

.error-box
{
    flex: 0 0 auto;
    color: red;
}