{% extends 'base.html.twig' %}

{% block title %}API - AdsBoard{% endblock %}

{% block body %}
{{ parent() }}
<main>
    <h1 class="h1">API</h1>
    <article>
        <p>API udostępnia następujące możliwości:
        <ul>
            <li>Wyświetlenie ogłoszenia o podanym {id}
                <pre>{{ path('api_ad', {id: '{id}'}) | replace({'%7B':'{', '%7D':'}'}) }}</pre>
            </li>
            <li>Dodawanie ogłoszenia
                <pre>//TODO</pre>
            </li>
            <li>Wyszukiwanie ogłoszeń
                <pre>//TODO</pre>
            </li>
        </ul>
        Dane zwracane są w formacie json.
        </p>
    </article>
</main>
{% endblock %}